*{
    margin: 0;
    padding: 0;
}

header{
    width: 1600px;
    height: 92px;
    background-color: rgb(226, 226, 32);

}

nav{
    display: flex;
    max-width: 1350px;
    height: 60px;
    margin: auto;
    justify-content: space-between;
    padding: 20px 0;
    text-align: center;
}

.menu{
   display: flex;
   gap: 25px; 
   list-style: none;

}

.menu a{
    text-decoration: none;
     font-family: "Inter", sans-serif;
     font-size: 16px;
     line-height: 60px;
}

button{
    background-color: #30B868;
    width: 150px;
    border-radius: 4px;
    height: 44px;
     font-family: "Inter", sans-serif;
     font-size: 16px;
}

.topbutton:hover {
    background-color: #FFFFFF;
    color: #30B868;

}

.topbutton1:hover {
    background-color: #45ec11;
    color: #000000;

}

.topbutton2:hover {
    background-color: #45ec11;
    color: #000000;

}

.topbutton3:hover {
    background-color: #45ec11;
    color: #000000;

}

.container{
    width: 1600px;
    height: 674px;
    background-image: url(../assets/hero-bg.png);
}

.bnnertopbut {
    text-align: center;
    padding-top: 100px;

}

.bnnertopbut button{
    width: 229px;
    height: 36px;
    background-color: #FFFFFF;
    border-radius: 100px;
    font-family: "Inter", sans-serif;
}

.container h1{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 80px;
    text-align: center;
    padding-top: 10px;
}

.container h2{
    color: #30B868;
    font-family: "Inter", sans-serif;
    font-size: 80px;
    text-align: center;
    padding-top: 10px;
}

.container p{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    line-height: 40px;
}

.bannerlastbutton{
   display: flex;
    max-width: 1600px;
    height: 60px;
    justify-content: center;
    margin-top: 20px;
}

.bt1 button{
    width: 251px;
    height: 52px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

.bt2 button{
    width: 198px;
    height: 52px;
    font-family: "Inter", sans-serif;
    margin-left: 10px;
    color: #FFFFFF;
    background-color:#ffffff00;
    border: 2px solid #FFFFFF);
    border-color: #FFFFFF;


}


.note1{
    width: 1600px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
}

.note2{
    max-width: 1350px;
    margin: auto;
    height: 300px;
    display: flex;
     justify-content: space-between;
    
}

.note1 h1{
     font-family: "Inter", sans-serif;
     font-size: 48px;

}

.note1 p{
     font-family: "Inter", sans-serif;
     font-size: 16px;
     margin-top: 20px;

}

.card1{
    width: 280px;
    height: 250px;
    text-align: center;
    padding-top: 80px;
}


.card1 h2{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.card1 p{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.card2{
    width: 280px;
    height: 250px;
    text-align: center;
    padding-top: 80px;
}


.card2 h2{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.card2 p{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}


.card3{
    width: 280px;
    height: 250px;
    text-align: center;
    padding-top: 80px;
}


.card3 h2{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.card3 p{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}


.card4{
    width: 280px;
    height: 250px;
    text-align: center;
    padding-top: 60px;
}


.card4 h2{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.card4 p{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.information1{
    width: 1600px;
    height: 674px;
    display: flex;
    justify-items: auto;
     padding: 120px;

}

.information1-text{
    width: 600px;
    height: 500px;
    margin-left: 60px;
    margin-top: 100px;
}

.information1-text h4{

     font-family: "Inter", sans-serif;
     font-size: 16px;
     color: #30B868;

}

.information1-text h1{

     font-family: "Inter", sans-serif;
     font-size: 48px;
     color: #001931;
     margin-top: 20px;

}

.information1-text p{

     font-family: "Inter", sans-serif;
     font-size: 16px;
     margin-top: 20px;
     color: #627382;

}

.listiteam{
    width: 500px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    
}

.listicon{
    width: 30px;
    height: 40px;
}

.listtext{
     font-family: "Inter", sans-serif;
     font-size: 16px;
    color: #000000;
}

.listiteam2{
    width: 500px;
    height: 40px;
    margin-top: 5px;
    display: flex;
    
}

.listiteam3{
    width: 500px;
    height: 40px;
    margin-top: 5px;
    display: flex;
    
}

.listiteam4{
    width: 500px;
    height: 40px;
    margin-top: 5px;
    display: flex;
    
}

.challangesection{
    width: 1600px;
    height: 400px;
}

.challangnote1{
    width: 1600px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
}

.challangnote1 h1{
    font-size: 40px;
    font-family: "Inter", sans-serif;
    color: #000000;
}

.challangnote1 p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #627382;
    margin-top: 10px;
}

.challangnote1 h2{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #627382;
    margin-top: 10px;
}


.challangnote1 button{
    width: 180px;
    height: 60px;
    background-color: #30B868;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-top: 20px;
}


.challangnote1button:hover{

    background-color: #FFFFFF;                       
    color: #000000;

}
    















........
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
